<a href="https://colab.research.google.com/github/bsudharshan2001/MyRespository/blob/master/College/Semester-5/19CSE305-MachineLearning/Lab%203/Lab3_Exercises_ExploreDatasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **19CSE305: MACHINE LEARNING LAB**
## Using Pandas and Python to Explore Your Dataset

Sikha O K

CSE Department

ASe-Coimbatore

**Excercise 1**

*   Import Pandas in Python with the pd alias.
*   use .read_csv() to read in your dataset and store it as a DataFrame object in the variable data.

In [ ]:
import pandas as pd
print(pd.__version__)

1.1.5

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [12]:
drive.mount("/content/gdrive", force_remount=True)

Mounted at /content/gdrive

In [32]:
#Read dataset
data=pd.read_csv('/content/gdrive/MyDrive/data.csv')
print(type(data))
print(data.iloc[50:100])

<class 'pandas.core.frame.DataFrame'>
    Duration  Pulse  Maxpulse  Calories
50        60    107       136     380.2
51        80    123       146     643.1
52        60    106       130     263.0
53        60    118       151     486.0
54        30    136       175     238.0
55        60    121       146     450.7
56        60    118       121     413.0
57        45    115       144     305.0
58        20    153       172     226.4
59        45    123       152     321.0
60       210    108       160    1376.0
61       160    110       137    1034.4
62       160    109       135     853.0
63        45    118       141     341.0
64        20    110       130     131.4
65       180     90       130     800.4
66       150    105       135     873.4
67       150    107       130     816.0
68        20    106       136     110.4
69       300    108       143    1500.2
70       150     97       129    1115.0
71        60    109       153     387.6
72        90    100       127     700.0
73       150     97       127     953.2
74        45    114       146     304.0
75        90     98       125     563.2
76        45    105       134     251.0
77        45    110       141     300.0
78       120    100       130     500.4
79       270    100       131    1729.0
80        30    159       182     319.2
81        45    149       169     344.0
82        30    103       139     151.1
83       120    100       130     500.0
84        45    100       120     225.3
85        30    151       170     300.0
86        45    102       136     234.0
87       120    100       157    1000.1
88        45    129       103     242.0
89        20     83       107      50.3
90       180    101       127     600.1
91        45    107       137       NaN
92        30     90       107     105.3
93        15     80       100      50.5
94        20    150       171     127.4
95        20    151       168     229.4
96        30     95       128     128.2
97        25    152       168     244.2
98        30    109       131     188.2
99        90     93       124     604.1

**Excercise 2**

Explore *read_json(), read_html(), and read_sql_table()*
Click [here](https://realpython.com/pandas-read-write-files/) to learn how to work with these file formats,

In [26]:
data_json=pd.read_json('/content/example_1.json',orient='index')
print(data_json)

           0
fruit  Apple
size   Large
color    Red

In [18]:
data_html=pd.read_html('/content/example_2.html',index_col=0, parse_dates=['IND_DAY'])
print(data_html)

[        COUNTRY      POP      AREA       GDP       CONT    IND_DAY
CHN       China  1398.72   9596.96  12234.80       Asia        NaT
IND       India  1351.16   3287.26   2575.67       Asia 1947-08-15
USA          US   329.74   9833.52  19485.40  N.America 1776-07-04
IDN   Indonesia   268.07   1910.93   1015.54       Asia 1945-08-17
BRA      Brazil   210.32   8515.77   2055.51  S.America 1822-09-07
PAK    Pakistan   205.71    881.91    302.14       Asia 1947-08-14
NGA     Nigeria   200.96    923.77    375.77     Africa 1960-10-01
BGD  Bangladesh   167.09    147.57    245.63       Asia 1971-03-26
RUS      Russia   146.79  17098.20   1530.75        NaN 1992-06-12
MEX      Mexico   126.58   1964.38   1158.23  N.America 1810-09-16
JPN       Japan   126.22    377.97   4872.42       Asia        NaT
DEU     Germany    83.02    357.11   3693.20     Europe        NaT
FRA      France    67.02    640.68   2582.49     Europe 1789-07-14
GBR          UK    66.44    242.50   2631.23     Europe        NaT
ITA       Italy    60.36    301.34   1943.84     Europe        NaT
ARG   Argentina    44.94   2780.40    637.49  S.America 1816-07-09
DZA     Algeria    43.38   2381.74    167.56     Africa 1962-07-05
CAN      Canada    37.59   9984.67   1647.12  N.America 1867-07-01
AUS   Australia    25.47   7692.02   1408.68    Oceania        NaT
KAZ  Kazakhstan    18.53   2724.90    159.41       Asia 1991-12-16]

In [23]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///chinook.db', echo=False)
df = pd.read_sql('chinook.db', con=engine, index_col='ID')

OperationalError: ignored

In [20]:
#Display the number of rows in the dataset
rows=len(data)
print("Number of rows: ",rows)
#Display the dimension of the  dataset
dim=data.shape
print("Dimension: ",dim)

Number of rows:  169
Dimension:  (169, 4)

In [19]:
#Print a part of the dataset
print(data)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [ ]:
#Print the entire dataset
print(data.to_string())

**Excercise 3:** Viewing the Data

One of the most used method for getting a quick overview of the DataFrame, is the head() method.

The head() method returns the headers and a specified number of rows, starting from the top.

In [ ]:
print("The first five rows of the dataset: ")
data.head()#by default print the five rows

In [ ]:
print("The first 10 rows of the dataset: ")
data.head(10)#by default print the five rows

In [ ]:
print("The last five rows of the dataset: ")
data.tail()#by default print the five rows

In [ ]:
print("The last 10 rows of the dataset: ")
data.tail(10)#by default print the five rows

**Excercise 3** Info About the Data

The DataFrames object has a method called info(), that gives you more information about the data set.

Every columns of a dataframe contain values of a specific data type.

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

**Showing Basics Statistics**
Display the overview of the values each column contains. You can do this with  **.describe()**

This function shows you some basic descriptive statistics for all numeric columns

In [ ]:
data.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

**.describe()**only analyzes numeric columns by default, but you can provide other data types if you use the include parameter:

In [ ]:
data['id']="h"
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
 4   id        169 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 6.7+ KB
None

In [ ]:
data.describe(include=object)

         id
count   169
unique    1
top       h
freq    169

**Excercise 4:**Exploring Your Dataset

1.  To examine how often specific values occur in a column:
2.   List item

In [ ]:
print("Frequecy of each value in the Duration column\n")
data["Duration"].value_counts()

60     79
45     35
30     16
20      9
90      8
150     4
180     3
120     3
210     2
160     2
75      2
15      2
80      1
300     1
25      1
270     1
Name: Duration, dtype: int64

In [ ]:
print("Frequecy of each value in the Maxpulse  column\n")
data["Maxpulse"].value_counts()

**Excercise 5**: Querying Your Dataset

Create a new DataFrame that contains only those rows whose calories>average of calories

In [ ]:
print(data["Calories"])

0      409.1
1      479.0
2      340.0
3      282.4
4      406.0
       ...
164    290.8
165    300.0
166    310.2
167    320.4
168    330.4
Name: Calories, Length: 169, dtype: float64

In [ ]:
newdatf=data[data["Calories"]>data["Calories"].mean()]
newdatf.shape

(48, 5)

## **Data Cleaning : Data Preprocessing**

Data cleaning means fixing bad data in your data set.

Bad data could be:

*   Empty cells
*   Data in wrong format
*  Wrong data
*  *Duplicates*

**Empty Cells**

Empty cells can potentially give you a wrong result when you analyze data.

Remove Rows

One way to deal with empty cells is to remove rows that contain empty cells.

In [ ]:
new_data=data.dropna()
print(new_data.info())
#By default, the dropna() method returns a new DataFrame, and will not change the original.
#If you want to change the original DataFrame, use the inplace = True argument:
#new_data1=data.dropna(inplace=true)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164 entries, 0 to 168
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  164 non-null    int64
 1   Pulse     164 non-null    int64
 2   Maxpulse  164 non-null    int64
 3   Calories  164 non-null    float64
 4   id        164 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 7.7+ KB
None

##  **Replace Empty Values**

Another way of dealing with empty cells is to insert a new value instead.

The **fillna()** method allows us to replace empty cells with a value:

In [38]:
#Replace NULL values with the number 250:
data=pd.read_csv('/content/data_modified.csv')
data.fillna(250, inplace = True)
print(data.info())
print(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    float64
 1   Pulse     169 non-null    float64
 2   Maxpulse  169 non-null    int64
 3   Calories  169 non-null    float64
dtypes: float64(3), int64(1)
memory usage: 5.4 KB
None
     Duration  Pulse  Maxpulse  Calories
0        60.0  110.0       130     409.1
1        60.0  117.0       145     479.0
2        60.0  103.0       135     340.0
3        45.0  109.0       175     282.4
4        45.0  117.0       148     406.0
..        ...    ...       ...       ...
164      60.0  105.0       140     290.8
165      60.0  110.0       145     300.0
166      60.0  115.0       145     310.2
167      75.0  120.0       150     320.4
168      75.0  125.0       150     330.4

[169 rows x 4 columns]

**Replace Only For a Specified Columns**

The example above replaces all empty cells in the whole Data Frame.

To only replace empty values for one column, specify the column name for the DataFrame:

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/ML_Btech/LAB/LAB3/data.csv')
data["Calories"].fillna(130, inplace = True)
print(data.info())

**Replace Using Mean, Median, or Mode**

A common way to replace empty cells, is to calculate the mean, median or mode value of the column.

Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column:

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/ML/18CS311_ML_LAB/LAB2/data.csv')
x= data["Calories"].mean()
data["Calories"].fillna(x,inplace=True)

**Removing Duplicates**

Discovering Duplicates
Duplicate rows are rows that have been registered more than one time.

To discover duplicates, we can use the duplicated() method.

The duplicated() method returns a Boolean values for each row:

In [ ]:
#Returns True for every row that is a duplicate, othwerwise False:
print(data.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
164    False
165    False
166    False
167    False
168    False
Length: 169, dtype: bool

**Removing Duplicates**

To remove duplicates, use the drop_duplicates() method.

In [ ]:
# To drop duplicate
data.drop_duplicates(inplace=True)
print(data.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
164    False
165    False
166    False
167    False
168    False
Length: 162, dtype: bool