<a href="https://colab.research.google.com/github/bsudharshan2001/MyRespository/blob/master/College/Semester-5/19CSE304-DataScience/cb.en.u4cse19008_Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

19CSE304 - Fundamentals of Data Science
--------------------------------

---


Lab 3 - Assignment

B Sudharshan - CB.EN.U4CSE19008 - CSE A

# 0. Import data

In [1]:
import pandas as pd

In [2]:
insurance = pd.read_csv('https://raw.githubusercontent.com/dhanyahari07/Data_Science/master/insurance.csv')
insurance.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

# 1.The largest amount paid by the insurance company last year to any beneficiary . 2 Decimal Places

In [7]:
def max_charge(insurance):
    #write code here
    amt=insurance['charges'].max()
    print('Largest amount paid: %.2f'%(amt))
    return 
#write code here
max_charge(insurance)

Largest amount paid: 63770.43

# 2. A table similar to insurance, but with only the rows for smokers, and without the smoker column.

In [8]:
def new_table(insurance):
    #write code here
    x=insurance.loc[insurance['smoker']=='yes']
    y=x.drop(['smoker'],axis=1)
    print(y)
    return 
#write code here
new_table(insurance)

      age     sex     bmi  children     region      charges
0      19  female  27.900         0  southwest  16884.92400
11     62  female  26.290         0  southeast  27808.72510
14     27    male  42.130         0  southeast  39611.75770
19     30    male  35.300         0  southwest  36837.46700
23     34  female  31.920         1  northeast  37701.87680
...   ...     ...     ...       ...        ...          ...
1313   19  female  34.700         2  southwest  36397.57600
1314   30  female  23.655         3  northwest  18765.87545
1321   62    male  26.695         0  northeast  28101.33305
1323   42  female  40.370         2  southeast  43896.37630
1337   61  female  29.070         0  northwest  29141.36030

[274 rows x 6 columns]

# 3. Add column named predicted_paid that shows the amount we predict to pay to that beneficiary this year, if we predict that their cost this year will be the cost last year increased by 5% to insurance. round to 2 decimal places and enter

In [9]:
def predicted(insurance):
    #write code here
    insurance['predicted_paid']=round(insurance['charges']+(insurance['charges']*0.05),2)
    print(insurance)
    return 
#write code here
predicted(insurance)

      age     sex     bmi  ...     region      charges predicted_paid
0      19  female  27.900  ...  southwest  16884.92400       17729.17
1      18    male  33.770  ...  southeast   1725.55230        1811.83
2      28    male  33.000  ...  southeast   4449.46200        4671.94
3      33    male  22.705  ...  northwest  21984.47061       23083.69
4      32    male  28.880  ...  northwest   3866.85520        4060.20
...   ...     ...     ...  ...        ...          ...            ...
1333   50    male  30.970  ...  northwest  10600.54830       11130.58
1334   18  female  31.920  ...  northeast   2205.98080        2316.28
1335   18  female  36.850  ...  southeast   1629.83350        1711.33
1336   21  female  25.800  ...  southwest   2007.94500        2108.34
1337   61  female  29.070  ...  northwest  29141.36030       30598.43

[1338 rows x 8 columns]

# 4.  A table containing one row per region, listing for each region the total amount of charges paid by the insurance company last year to all beneficiaries in that region. round 1 decimal places

In [15]:
def row_region(insurance):
    #write code here
    x=round(insurance.groupby(['region']).sum(),1)
    y=x[['charges']]
    print(y)
    return 
#write code here
row_region(insurance)

             charges
region
northeast  4343668.6
northwest  4035712.0
southeast  5363689.8
southwest  4012754.6

# 5. The name of the region with the smallest number of beneficiaries.

In [28]:
def smallest(insurance):
    #write code here
    x=insurance.groupby(['region']).count()
    x=x.nsmallest(1,'age')
    x=x[['age']]
    print(x)
    return 
#write code here
smallest(insurance)

           age
region
northeast  324

# 6. Write a function that takes an age as a parameter, and returns the average BMI of all beneficiaries of that age. Round to 2 decimal points

In [31]:
def avg_bmi(age,insurance):
    #write code here
    x=insurance.loc[insurance['age']==age]
    y=x.groupby(['age']).mean()
    y=round(y[['bmi']],2)
    print(y)
    return 
#write code here
age=int(input())
avg_bmi(age,insurance)

20
       bmi
age
20   30.63

# 7. The number of times the charges increased by more than $10,000.00 from one person to next in order

In [32]:
def charge_increased(insurance):
    #write code here
    ct=0
    for i in range(1,len(insurance)):
      x=insurance.loc[i,'charges']
      y=insurance.loc[i-1,'charges']+10000
      if(x>y):
        ct+=1
    return ct   
#write code here
charge_increased(insurance)

281

# 8. Whether or not the charges has ever been $2000.00 or less (your code should evaluate to True or False).

In [33]:
def charge_less():
    #write code here
    x=False
    for i in range(1,len(insurance)):
      if(insurance.loc[i,"charges"]<2000):
        x=True
    return x
#write code here
charge_less()

True

# 9. The probability of choosing a charge greater than $2500.00, if I pick one of the charge uniformly at random . 2 decimal places

In [36]:
def prob_greater(insurance):
    #write code here
    insurance["probability"]=[1 if x<2500 else 2 for x in insurance["charges"]]
    x=insurance.groupby("probability")["probability"].size()
    return round((x.loc[1]/x.sum().sum()),2)
#write code here
prob_greater(insurance)

0.11

# 10. Create box-plots to detect outliers