<a href="https://colab.research.google.com/github/bsudharshan2001/MyRespository/blob/master/CB_EN_U4CSE19008_DecisionTree_Lab8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

B Sudharshan - CB.EN.U4CSE19008 - CSE A
---
-----------------------------

In [1]:
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
labelenc = preprocessing.LabelEncoder()
import pandas as pd
df=pd.read_csv('/content/tennis.csv')
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [3]:
df1 = df.copy()
df1.drop(labels='day',axis=1,inplace=True)
df1['humidity'] = labelenc.fit_transform(df1['humidity'])
df1['outlook'] = labelenc.fit_transform(df1['outlook'])
df1['temp'] = labelenc.fit_transform(df1['temp'])
df1['wind'] = labelenc.fit_transform(df1['wind'])
df1['play'] = labelenc.fit_transform(df1['play'])
df = df1.copy()

In [4]:
x = df1.iloc[:,:-1].values
y = df1.iloc[:,-1].values
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 1)
dtree = tree.DecisionTreeClassifier()
clf = dtree.fit(X_test,y_test)

In [7]:
prediction = dtree.predict(X_test)
prediction

array([1, 0, 1, 1, 1])

In [6]:
y_test

array([1, 0, 1, 1, 1])