<a href="https://colab.research.google.com/github/bsudharshan2001/MyRespository/blob/master/College/Semester-5/19CSE304-DataSCience/cse19008EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

19CSE304 - Data Science - Lab Evaluation 3
--------------
---
B Sudharshan - CB.EN.U4CSE19008 - CSE A

# 0. Import the Libraries and read data

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.datasets import load_boston
import math
from scipy.stats import chi2_contingency

In [ ]:
boston = load_boston()
x = boston.data
y = boston.target
columns = boston.feature_names
# creating dataframes
df = pd.DataFrame(boston.data)
df.columns = columns
df

        CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0    0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1    0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2    0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3    0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4    0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33
..       ...   ...    ...   ...    ...  ...  ...    ...      ...     ...    ...
501  0.06263   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  391.99   9.67
502  0.04527   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   9.08
503  0.06076   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   5.64
504  0.10959   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  393.45   6.48
505  0.04741   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   7.88

[506 rows x 13 columns]

# 1. What are the values of the mean and the median of age ? Compare the answers and state which you prefer as a measure of age for these data and why.

In [ ]:
def mean_val():
#Write the code here
  m=df.AGE.mean()
  return m 
#Write the code here
print(round(mean_val(),2))

68.57

In [ ]:
def median_val():
  #Write the code here
  med=df.AGE.median()
  return med
#Write the code here
print(round(median_val(),2))

77.5

## Why?
---
The prefered measure of age is median because as most of the values in age is close to median

# 2. What are the values of the range and interquartile range of age? How do they differ?

In [ ]:
def range_val():
  #Write the code here
  range=df.AGE.max()-df.AGE.min()
  return range#Write the code here
#Write the code here
print(round(range_val(),2))

97.1

In [ ]:
import numpy as np
def iqr_val():
  #Write the code here
  q1=df['AGE'].quantile(q=0.25)
  q3=df['AGE'].quantile(q=0.75)
  iqr=q3-q1
  return iqr
#Write the code here
print(round(iqr_val(),2))

49.05

# 3. What are the values of variance and standard deviation(round off to 2 decimal places) for these data?

In [ ]:
import statistics
def std_val():
  #Write the code here
  std=statistics.stdev(df['AGE'])
  return std
#Write the code here
print(round(std_val(),2))

28.15

In [ ]:
def variance_val():
  #Write the code here
  var=statistics.variance(df['AGE'])
  return var
#Write the code here
print(round(variance_val(),2))

792.36

# 4. What is the z score for Age is 61.1? What is the z score for Age 80.8? Interpret these z scores. Round off to 2 decimal places

In [ ]:
import scipy.stats as stats
def z_age1():
  #Write the code here
  for i in range(len(df)):
    if(df['AGE'][i]==61.1):
      pos=i
  z1=stats.zscore(df['AGE'])
  return z1[pos]
#Write the code here-0.69
print(round(z_age1(),2))

-0.27

In [ ]:
def z_age2():
  #Write the code here
  for i in range(len(df)):
    if(df['AGE'][i]==80.8):
      pos=i
  z1=stats.zscore(df['AGE'])
  return z1[pos]
#Write the code here-0.69
print(round(z_age2(),2))

0.43

# 5. Calculate the Pearson coefficient of skewness and kurtosis for tax and comment on the skewness and kurtosis of this distribution. Round off to 2 decimal places

In [ ]:
from scipy.stats import skew
def skew_val():
  #Write the code here
  skw=skew(df['TAX'])
  return skw
#Write the code here0.78
print(round(skew_val(),2))

0.67

In [ ]:
from scipy.stats import kurtosis 
def kurtosis_val():
  #Write the code here
  kurt=df['TAX'].kurtosis()
  return kurt
#Write the code here-0.79
print(round(kurtosis_val(),2))

-1.14

# Comment on kurtosis and skew of Tax

# 6. Check if Age is in normal distribution

Note:
The Shapiro-Wilk test evaluates a data sample and quantifies how likely it is that the data was drawn from a Gaussian distribution, named for Samuel Shapiro and Martin Wilk.

The shapiro() SciPy function will calculate the Shapiro-Wilk on a given dataset. 

The function returns both the W-statistic calculated by the test and the p-value.

In [ ]:
from scipy.stats import shapiro
def chi2():
  #write code here
  stat, p = shapiro(df.AGE)
  # interpret
  alpha = 0.05
  if(p>alpha):#write code here
	  print('Follows normal distribution (fail to reject H0)')
  else:
	  print('Does not Follow normal distribution (reject H0)')
 
#write code here
chi2()

Does not Follow normal distribution (reject H0)


---

# Holding breath (Question 7 to 10)
In Ooty school,a small test was done. Twenty students were timed to see how long (in seconds) they could hold their breath in a relaxed position. After a two-minute rest, they timed themselves while jumping. The students thought that the mean difference between their jumping and relaxed times would be zero. Test their hypothesis.


relax = [26, 47, 30, 22, 23, 45, 37, 29, 23, 29, 27, 24, 36, 29, 37, 23, 26, 21, 30, 29]


jump = [23, 43, 25, 20, 20,40, 33, 25, 20, 25, 25, 20, 33, 23, 33, 22, 23, 19, 27, 25]

#7. a.Using the above information, construct a dataframe named 'tt' in the code block below. Apart from the row index, the dataframe should have two columns namely 'relax' and 'jump'. Also, use this dataframe to answer the following questions.

In [ ]:
relax = [26, 47, 30, 22, 23, 45, 37, 29, 23, 29, 27, 24, 36, 29, 37, 23, 26, 21, 30, 29]
jump = [23, 43, 25, 20, 20,40, 33, 25, 20, 25, 25, 20, 33, 23, 33, 22, 23, 19, 27, 25]
#write code here
comb={'relax': relax, 'jump': jump}  
tt=pd.DataFrame(comb)
tt

    relax  jump
0      26    23
1      47    43
2      30    25
3      22    20
4      23    20
5      45    40
6      37    33
7      29    25
8      23    20
9      29    25
10     27    25
11     24    20
12     36    33
13     29    23
14     37    33
15     23    22
16     26    23
17     21    19
18     30    27
19     29    25

# 7.b From the values in the dataframe, use pandas functions to print a good estimate for the population mean and standard deviation. Display as a tuple

In [ ]:
def estimate_mean_std():
  #write code here
  x=(round(tt.relax.mean(),2),round(tt.jump.mean(),2))
  y=(round(tt.relax.std(),2),round(tt.jump.std(),2))
  return x,y
#write code here
mean,std = estimate_mean_std()
print(mean)
#print(std)

(29.65, 26.2)

# 8. Calculate the mean and standard deviation of the means.  Display as a tuple. 2 decimal places

In [ ]:
def mean_stdev():
  ms=np.array(mean)
  m=ms.mean()
  s=ms.std()
  return round(m,2),round(s,2)
#write code here
print(mean_stdev())

(27.92, 1.72)

# 9.a. Check the sampling error for students 3, 7, and 14 (Indices 2, 6 and 13).  Display as a tuple

In [ ]:
from scipy.stats import sem
def error_val():
  #write code here
  err=sem(tt[0][2],tt[0][6],tt[0][12])
  return err
#write code here
print(error_val())

# 9b. Compare the standard deviation of the sample of the 20 means. Is that equal to the standard deviation from student 3 divided by the square root of the sample size? How about for student 7, or 14? (Indices 2, 6 and 13). Print "True" or "False" boolean value for comparison done for each student.  Display as a tuple

In [ ]:
import math

def compare_val():
  #write code here
  return #write code here
#write code here

(False, False, False)

10. Find the Chi sq stat and check whether hypothesis can be rejected

In [ ]:
def chi2():
  #write code here
  # interpret p-value
  stat, p = shapiro(tt.relax)
  alpha = 0.05
  #write code here
  if(p>alpha)  :#write code here
    print('Dependent (reject H0)')
  else:
    print('Independent (H0 holds true)')
  
#write code here
chi2()

Independent (H0 holds true)