<a href="https://colab.research.google.com/github/bsudharshan2001/MyRespository/blob/master/College/Semester-5/19CSE204-DataScience/Lab/19CSE008_Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Fundamental of Data Science - Lab 2**

B Sudharshan - CB.EN.U4CSE19008 - CSE A

**Question 1**

In [7]:
#Question 1
import pandas as pd
df=pd.DataFrame({'Name':['Bhalaji','Anirudh','Vicky'],
                 'City':['Hosur','Bangalore','Pollachi'],
                 'RollNo':[19026,19004,19060]})
print(df)

      Name       City  RollNo        Hobby
0  Bhalaji      Hosur   19026      Cricket
1  Anirudh  Bangalore   19004      Reading
2    Vicky   Pollachi   19060  Video games

**Question 2**

In [13]:
#Question 2
df1=pd.DataFrame({'RollNo':[19026,19004,19060],
                  'Hobby':['Cricket','Reading','Video games']})
print(df1)

   RollNo        Hobby
0   19026      Cricket
1   19004      Reading
2   19060  Video games

**Question 3a**

In [20]:
#Question 3a
result_inner=pd.merge(df,df1,how='inner')
print(result_inner)

      Name       City  RollNo        Hobby
0  Bhalaji      Hosur   19026      Cricket
1  Anirudh  Bangalore   19004      Reading
2    Vicky   Pollachi   19060  Video games

**Question 3b**

In [11]:
#Question 3b
result_outer=pd.merge(df,df1,how='outer')
print(result_outer)

      Name       City  RollNo        Hobby
0  Bhalaji      Hosur   19026      Cricket
1  Anirudh  Bangalore   19004      Reading
2    Vicky   Pollachi   19060  Video games

**Question 3c**

In [10]:
#Question 3c
result_right=pd.merge(df,df1,how='right')
print(result_right)

      Name       City  RollNo        Hobby
0  Bhalaji      Hosur   19026      Cricket
1  Anirudh  Bangalore   19004      Reading
2    Vicky   Pollachi   19060  Video games

**Question 3d**

In [12]:
#Question 3d
result_left=pd.merge(df,df1,how='left')
print(result_right)

      Name       City  RollNo        Hobby
0  Bhalaji      Hosur   19026      Cricket
1  Anirudh  Bangalore   19004      Reading
2    Vicky   Pollachi   19060  Video games

**Question 4**

In [14]:
#Question 4
#outer
concat_outer=pd.concat([df,df1],join='outer',axis=1)
print(concat_outer)

      Name       City  RollNo  RollNo        Hobby
0  Bhalaji      Hosur   19026   19026      Cricket
1  Anirudh  Bangalore   19004   19004      Reading
2    Vicky   Pollachi   19060   19060  Video games

In [15]:
#inner
concat_inner=pd.concat([df,df1],join='inner',axis=1)
print(concat_inner)

      Name       City  RollNo  RollNo        Hobby
0  Bhalaji      Hosur   19026   19026      Cricket
1  Anirudh  Bangalore   19004   19004      Reading
2    Vicky   Pollachi   19060   19060  Video games

**Question 5**

In [27]:
#Question 5
result_melted =pd.melt(df,id_vars='RollNo', value_vars=["Name","City"])
print(result_melted)

   RollNo variable      value
0   19026     Name    Bhalaji
1   19004     Name    Anirudh
2   19060     Name      Vicky
3   19026     City      Hosur
4   19004     City  Bangalore
5   19060     City   Pollachi

**Question 6**

In [28]:
#Question 6
result_unmelt = result_melted.pivot(index='RollNo',columns='variable')
result_unmelt = result_unmelt['value'].reset_index()
result_unmelt.columns.name = None
print(result_unmelt)

   RollNo       City     Name
0   19004  Bangalore  Anirudh
1   19026      Hosur  Bhalaji
2   19060   Pollachi    Vicky

**Question 7**

In [32]:
#Question 7
df.set_index('RollNo')
df1.set_index('RollNo')
df.join(df1, lsuffix = 'df', rsuffix = 'df1')

      Name       City  RollNodf  RollNodf1        Hobby
0  Bhalaji      Hosur     19026      19026      Cricket
1  Anirudh  Bangalore     19004      19004      Reading
2    Vicky   Pollachi     19060      19060  Video games